*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background: #ffffff;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

#container{
    width: 30%;
}

#calculator-title{
    padding: 20px 0 25px 0;
    color: #00b4bd;
    font-size: 28px;
}

.container-weig-heigh{
    color: #007c8a;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.label-weig-heigh{
    font-size: 20px
}

.information-field{
    height: 40px;
}

#send-informations-button{
    border: none;
    color: #ffff;
    background: #00b4bd;
    padding: 10px;
    font-size: 18px;
    transition: all 0.5s;
    cursor: pointer;
}

#send-informations-button:hover{
    background: #01949c;
}

#container-button-result{
    display: flex;
    justify-content: space-between;
}

/* Ajustei a fonte para caber direitinho as frases */
#imc-result{
    display: flex;
    align-items: center;
    color: #00b4bd;
    font-size: 18px;
    width: 90%;
    justify-content: end;
}